
<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
   
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-white text-decoration-none">Home</a></li>
          <li><a href="{% url 'menu_list' %}" class="text-white text-decoration-none">Menu</a></li>
          <li><a href="{% url 'gallery' %}" class="text-white text-decoration-none">Gallery</a></li>
          <li><a href="#contact" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>

      
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-lg"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-lg"></i></a>
      </div>
      

     
      <div class="col-md-4">
        <h5>Subscribe</h5>
        <form>
          <input type="email" class="form-control mb-2" placeholder="Enter your email">
          <button class="btn btn-primary btn-sm" type="submit">Subscribe</button>
        </form>
      </div>
    </div>

    <hr class="bg-white mt-4">
    <p class="text-center mb-0">&copy; 2025 Fork & Flame. All rights reserved.</p>
  </div>
</footer>
